*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    
    position:relative;
    font-family: 'Lato', sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
}

.container{
    box-shadow:3px 5px 15px rgb(204, 201, 201);
    width:90%;
    text-align:center;
    border-radius:15px;
    display:none;
}
.container h1{
    margin:1.5rem;
}
#highscorelist{
    margin:1rem;
    
}

.high-score{
    list-style-type:none;
    font-size:1.3rem;
    margin:0.8rem 0;
    text-transform:uppercase;
    /* margin-left:1.5rem; */
}

.btn{
    padding:10px;
    font-size:18px;
    background:#218380;
    color:#fff;
    border:none;
    border-radius:5px;
    margin:1.5rem 1rem;
}

.home-btn{
    margin-left:0;
}

/* #home-anchor{
    text-decoration:none;
    color:#fff;
} */

@media only screen and(min-width:700px){
    .highscore{
        width:70%;
        
    }

}

@media only screen and(min-width:400px){
    .container{
        width:100%;
    }
    .container h1{
        margin:0.5rem;
    }
}
